<div class="px-4 py-5 my-5 text-center message-box">
    <h1 class="display-5 fw-bold">Admin Area</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Welcome <%= user.name %>! You are now login as administrator.</p>
        <a href="/">Go Back</a>
        <a href="/users/logout">Logout</a>
    </div>
</div>