<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Admin Area</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">You are now login as administrator.</p>
        <button type="return" class="btn btn-secondary mt-4">Go Back</button>
    </div>
</div>